<ion-list>
      <ion-item>
          <ion-label>Hombre</ion-label>
         </ion-item>
      <ion-card>
          <ion-card-header>
              Caracteristicas
          </ion-card-header>
          <ion-card-content>
              <ion-list>
                  <button ion-item>Bigote</button>
                  <button ion-item>Fuerte</button>
                  <button ion-item>Feo</button>
                  <button ion-item>Formal</button>
              </ion-list>
          </ion-card-content>
      </ion-card>
  </ion-list>